
#container {
    margin: auto;
    align-content: center;
}

header {
    text-align: center;
}

#options-container, #results-container {
    border: solid black 1px;
    width: 60%;
    margin: auto;
    padding: 1%;
}

#options-container h2, #results-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

#options-container p, #results-container div {
    float: left;
    width: 30%;
    height: 110px;
    border: solid black;
    margin: 1%;
    font-weight: bold;
}

.rock-background {
    background-color: lightgray;
    background-image: url("assets/rock.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: center;
}
.paper-background{
    background-color: lightgoldenrodyellow;
    background-image: url("assets/paper.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: top;
}
.scissors-background {
    background-color: lightskyblue;
    background-image: url("assets/scissors.png");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: top;
}

#result{
    background-image: url("assets/trophy.jpeg");
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: top;
    font-size: x-large;
}

#options-container p:hover {
    cursor: pointer;
}

#container::after, #options::after, #results-container::after {
    content: " ";
    display: block;
    clear: both;
}

.highlighted {
    border: solid red !important;
    box-shadow: inset 0 0 10px #000000;
}

